name: Docker Build

on:
  push:
    branches: [master, test]
    paths:
      - ".dockerignore"
      - ".github/workflows/docker-build.yml"
      - "Dockerfile"
      - "entrypoint.sh"
  pull_request:
    paths:
      - ".dockerignore"
      - ".github/workflows/docker-build.yml"
      - "Dockerfile"
      - "entrypoint.sh"

jobs:
  DockerBuild:
    name: Docker Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Docker Build
        run: docker build -t action-stringslint .

      - name: Exit Status on Errors
        run: |
          STATUS=$(docker run -v $(pwd):$(pwd) -w $(pwd) --rm action-stringslint &>/dev/null; echo $?)
          [[ $STATUS != "0" ]]
        working-directory: ./test/ErrorProject
        shell: bash

      - name: Exit Status on Warning
        run: |
          STATUS=$(docker run -v $(pwd):$(pwd) -w $(pwd) --rm action-stringslint &>/dev/null; echo $?)
          [[ $STATUS == "0" ]]
        working-directory: ./test/WarningProject
        shell: bash

      - name: Output on Clean
        run: |
          STATUS=$(docker run -v $(pwd):$(pwd) -w $(pwd) --rm action-stringslint &>/dev/null; echo $?)
          [[ $STATUS == "0" ]]
        working-directory: ./test/CleanProject
        shell: bash

      - name: Output on Warning
        run: diff <(docker run -v $(pwd):$(pwd) -w $(pwd) --rm action-stringslint | sort -u) expected.txt
        working-directory: ./test/WarningProject
        shell: bash

      - name: Output on Error
        run: diff <(docker run -v $(pwd):$(pwd) -w $(pwd) --rm action-stringslint | sort -u) expected.txt
        working-directory: ./test/ErrorProject
        shell: bash
